[Unit]
Description=solidpostal jenkins configuration
Wants=jenkins.service
After=jenkins.service

[Service]
ExecStart=/opt/solidpostal/service/solidpostal

[Install]
WantedBy=multi-user.target