[Unit]
Description=solidpostal jenkins configuration
Wants=jenkins.service
After=jenkins.service

[Service]
ExecStart=/usr/local/sbin/solidpostal

[Install]
WantedBy=multi-user.target